@{
    ViewData["Title"] = "Home";
}

<h1>Simple Stock Tracker</h1>
<!--Describe the purpose of your site and what kind of data it manages-->
<p>This site is designed to be an easy way to keep track of your stock investment accounts and their holdings.</p>
<p>Using the "Accounts" page, you can save information about your investment accounts. Once saved, you can also view a list of your investment accounts, as well as edit them, view their details, or delete them if you no longer need them.</p>
<p>Using the "Holdings" page, you can save information about the holdings within each of your accounts. As with the accounts page, you can create records, view their details, edit them, or delete them. You will notice that each holding must be related to one of your existing accounts, so be sure to input your account information first.</p>