@model SimpleStockTracker.Models.Account

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-select">
                    <option value="RRSP">RRSP</option>
                    <option value="TFSA">TFSA</option>
                    <option value="RESP">RESP</option>
                    <option value="Other Registered Account">Other Registered Account</option>
                    <option value="Non-Registered Account">Non-Registered Account</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContributionLimit" class="control-label"></label>
                <input asp-for="ContributionLimit" class="form-control" />
                <span asp-validation-for="ContributionLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningDate" class="control-label"></label>
                <input asp-for="OpeningDate" class="form-control" />
                <span asp-validation-for="OpeningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountHolder" class="control-label"></label>
                <input asp-for="AccountHolder" class="form-control" />
                <span asp-validation-for="AccountHolder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary my-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="link" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
