@model IEnumerable<SimpleStockTracker.Models.Holding>

@{
    ViewData["Title"] = "Account Overview";
}
<h1>Account Name: @ViewData["Name"]</h1>
<p>Display chart here for the account selected on the previous page.</p>

<ul>
    @foreach (var holding in Model) {
        <li>@holding.Ticker</li>
    }
</ul>

<a class="btn btn-outline-primary" href="javascript:history.go(-1)">Select another account</a>