@{
    ViewData["Title"] = "Choose An Account";
}
<h1>On this page, the user will select the account they want to show the chart for.</h1>
<!-- Hardcoded links will need to be populated from the db OR match the db -->
<ul>
    <li>
        <a asp-controller="Overview" asp-action="Account" asp-route-Name="Retirement">Retirement</a>
    </li>
    <li>
        <a asp-controller="Overview" asp-action="Account" asp-route-Name="New Car">New Car</a>
    </li>
    <li>
        <a asp-controller="Overview" asp-action="Account" asp-route-Name="Donny's Education">Donny's Education</a>
    </li>
</ul>